body {font-family:helvetica;}
.container{width:75%; margin: auto;}
div#caracteres {font-size:3em; text-align:center;width:100%;}
div#caracteres span {margin:0.5em; border-bottom : 1px solid black; display:inline-block;}
p#total{text-align:center;}
button{width:12%;height:60px;margin:1%;font-size:1.5em;}